{% extends 'base_admin.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1><i class="large material-icons relative-icon">school</i>Formations</h1>
    <blockquote>Interface de gestion des formations.</blockquote>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Entreprise</th>
                <th>Image</th>
                <th>Description</th>
                <th>Début</th>
                <th>Fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.name }}</td>
                <td>{{ formation.company }}</td>
                <td><img src="{{ vich_uploader_asset(formation, 'imageFile') }}" class="logo-small"></td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.startedAt ? formation.startedAt|date('Y-m-d') : '' }}</td>
                <td>{{ formation.endedAt ? formation.endedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn">Voir<i class="material-icons">remove_red_eye</i></a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}" class="btn">Modifier<i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="right-align"><a href="{{ path('formation_new') }}" class="btn">Créer<i class="material-icons">add</i></a></div>
{% endblock %}
