{% extends 'base_admin.html.twig' %}

{% block title %}Experiences index{% endblock %}

{% block body %}
    <h1><i class="large material-icons relative-icon">work</i>Projets</h1>
    <blockquote>Interface de gestion des projets.</blockquote>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Entreprise</th>
                <th>Image</th>
                <th>Description</th>
                <th>Début</th>
                <th>Fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.title }}</td>
                <td>{{ experience.company }}</td>
                <td><img src="{{ vich_uploader_asset(experience, 'imageFile') }}" class="logo-small"></td>
                <td>{{ experience.description }}</td>
                <td>{{ experience.startedAt ? experience.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ experience.endedAt ? experience.endedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('experiences_show', {'id': experience.id}) }}" class="btn">Voir<i class="material-icons">remove_red_eye</i></a>
                    <a href="{{ path('experiences_edit', {'id': experience.id}) }}" class="btn">Modifier<i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="right-align"><a href="{{ path('experiences_new') }}" class="btn">Créer<i class="material-icons">add</i></a></div>
{% endblock %}
