{% extends 'base_admin.html.twig' %}

{% block title %}Skill index{% endblock %}

{% block body %}
        <h1><i class="large material-icons relative-icon">star</i>Compétences</h1>
        <blockquote>Interface de gestion des compétences.</blockquote>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td><img src="{{ vich_uploader_asset(skill, 'imageFile') }}" class="logo-small"></td>
                    <td class="td-actions">
                        <a href="{{ path('skill_show', {'id': skill.id}) }}" class="btn">Voir<i class="material-icons">remove_red_eye</i></a>
                        <a href="{{ path('skill_edit', {'id': skill.id}) }}" class="btn">Modifier<i class="material-icons">edit</i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="right-align"><a href="{{ path('skill_new') }}" class="btn">Créer<i class="material-icons">add</i></a></div>

{% endblock %}
