<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/admin.css">
    {% endblock %}
</head>
<body>
 <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="{{path('home')}}" class="brand-logo">
                <img src="/images/wuaro/wuaro-logo-small.png" class="logo-small">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{path('admin')}}">Espace Admin</a></li>
                <li><a href="{{path('skill_index')}}">Compétences</a></li>
                <li><a href="{{path('formation_index')}}">Formation</a></li>
                <li><a href="{{path('experiences_index')}}">Projets</a></li>
                <li><a href="{{ path('app_logout')}}">Déconnexion</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container admin-container">
    {% block body %}{% endblock %}
</div>

    {% include 'footer.html.twig' %}
    {% block javascripts %}
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/materialize/js/materialize.min.js"></script>{% endblock %}
    </body>
    </html>